<html>
    <head>
        <title>Demo MVC</title>
    </head>
    <body>
        <h1>Welcome to MVC </h1>
        <h2>
            Emp details are:
            @Model.No | @Model.Name | @Model.Address
      @*   @Model.No | @Model.Name | @Model.Addressjhfjhfjjfj *@
        </h2>
    </body>
</html>